/* Color scheme variables */
:root {
    --dark-green: #1F271B;
    --light-gray: #77878B;
    --dark-gray: #305252;
    --light-green: #8EB19D;
    --smoke-white: #F4F4F9;
    --sonic-silver: #746D75;
    --regular-gray: #BBBBBB;

}

html {
    background-color: var(--smoke-white);
}

/* Use this to negate any padding and margins */
.noSpacing {
    padding: 0;
    margin: 0;
}
