/* Color scheme variables */
:root {
    --dark-green: #1F271B;
    --light-gray: #77878B;
    --dark-gray: #305252;
    --light-green: #8EB19D;
    --smoke-white: #8EB19D;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
